In [1]:
import pandas as pd
import numpy as np

In [2]:
BASE_FOLDER = './evaluations'

In [3]:
def load_data(prefix):
    df_single_episode = pd.read_csv(f'{BASE_FOLDER}/{prefix}_1_episode.csv')
    df_single_episode = df_single_episode.set_index('step')
    df_single_episode = df_single_episode.drop(columns=['cumulative_reward'])
    
    df_multiple_episodes = pd.read_csv(f'{BASE_FOLDER}/{prefix}_100_episode.csv')
    df_multiple_episodes = df_multiple_episodes.set_index('episode')
    # df_multiple_episodes = df_multiple_episodes.drop(columns=['cumulative_reward'])
    return df_single_episode, df_multiple_episodes

def compare_datasets(datasets):
    results = []
    for name, df in datasets:
        data = {
            'model': name,
            'avg_cumulative_reward': np.mean(df.cumulative_reward.to_list()),
            # 'mean_waiting_time': np.mean(df.mean_waiting_time.to_list()),
            
            'avg_travel_time': np.mean(df.avg_travel_time.to_list()),
            'avg_time_loss': np.mean(df.avg_time_loss.to_list()),
            'avg_waiting_time': np.mean(df.avg_waiting_time.to_list()),

            'collisions': np.mean(df.collisions.to_list()),
            'emergency_braking': np.mean(df.emergency_braking.to_list()),
            'emergency_stops': np.mean(df.emergency_stops.to_list()),

#             'mean_speed': np.mean(df.mean_speed.to_list()),
            'mean_lane_density': np.mean(df.mean_lane_density.to_list()),
            'mean_queue': np.mean(df.mean_queue_length.to_list()),

        }
        results.append(data)
    return pd.DataFrame(results)

In [10]:
for traffic_scenario in ["cologne1", 
                         #"cologne3", "cologne8",
                         # "ingolstadt1", "ingolstadt7", # "ingolstadt21",
                         # "hangzhou_1x1_bc-tyc_18041607_1h", "jinan"
                        ]:
    models = ['cyclic_15',
              'max_pressure',
              'sotl',
              "option_critic_nn_2_options_cologne1_50400_steps"]
    datasets = [(model, load_data(f"{model}_{traffic_scenario}")[1])for model in models]
    df_comp = compare_datasets(datasets)
    print("Traffic scenario:", traffic_scenario)
    display(df_comp)

Traffic scenario: cologne1

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-45878.460000,159.180729,136.1910,118.4448,0.00,0.00,0.0,4.146779,56.978375
1,max_pressure,-8222.060000,50.138978,27.3277,12.6825,0.04,0.41,0.0,1.233540,6.287736
2,sotl,-38059.530000,124.885667,102.0007,76.1880,0.01,0.05,0.0,3.135584,41.366014
3,option_critic_nn_2_options_cologne1_50400_steps,-3949.901609,124.620850,101.7990,69.5920,0.04,0.45,0.0,3.082745,40.286611

In [12]:
for traffic_scenario in ["cologne3", ]:
    models = ['cyclic_15',
              'max_pressure',
              'sotl',
              "option_critic_nn_10_options_cologne3_50400_steps"]
    datasets = [(model, load_data(f"{model}_{traffic_scenario}")[1])for model in models]
    df_comp = compare_datasets(datasets)
    print("Traffic scenario:", traffic_scenario)
    display(df_comp)

Traffic scenario: cologne3

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-12598.236667,182.687647,145.1949,128.0003,0.00,0.01,0.0,6.214961,53.210611
1,max_pressure,-4489.573333,70.219572,33.1275,19.4994,0.01,0.15,0.0,3.208170,22.273236
2,sotl,-9988.576667,146.436842,108.9232,89.2438,0.00,0.01,0.0,5.487933,41.177264
3,option_critic_nn_10_options_cologne3_50400_steps,-3747.368043,112.002859,74.8356,54.1072,0.01,0.23,0.0,4.765415,32.880722

In [13]:
for traffic_scenario in ["cologne8", 
                        ]:
    models = ['cyclic_15',
              'max_pressure',
              'sotl',
              "option_critic_nn_10_options_cologne8_50400_steps"]
    datasets = [(model, load_data(f"{model}_{traffic_scenario}")[1])for model in models]
    df_comp = compare_datasets(datasets)
    print("Traffic scenario:", traffic_scenario)
    display(df_comp)

Traffic scenario: cologne8

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-6138.533750,237.008513,168.9497,141.5603,0.0,0.03,0.0,4.455401,75.223833
1,max_pressure,-2118.782500,129.096103,63.0392,39.9736,0.0,0.20,0.0,2.064631,24.927972
2,sotl,-3902.527500,177.424675,110.8019,83.5294,0.0,0.00,0.0,3.155144,44.813861
3,option_critic_nn_10_options_cologne8_50400_steps,-3620.770563,171.243417,103.8142,67.0022,0.0,0.18,0.0,2.727808,36.112361

In [36]:
traffic_scenario = 'cologne1'
prefix = ['fixed_period_15_steps', 'fixed_period_30_steps', 'dqn_cologne1', 'ppo_cologne1']
datasets = [(p, load_data(p, traffic_scenario)[1]) for p in prefix]
compare_datasets(datasets)

,dataset,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,fixed_period_15_steps,-25186.18,91.996109,69.0444,49.0154,0.0,0.01,0.0,2.287746,26.686722
1,fixed_period_30_steps,-29157.22,103.863111,80.9292,63.7006,0.0,0.00,0.0,2.815149,33.780139
2,dqn_cologne1,-5550.05,42.615365,19.8073,6.7848,0.0,0.29,0.0,0.924120,3.374903
3,ppo_cologne1,-6547.08,45.435389,22.6350,8.7755,0.0,0.42,0.0,1.000176,4.384847

In [32]:
traffic_scenario = 'cologne1'
prefix = 'dqn_cologne1'
df_single_episode, df_multiple_episodes = load_data(prefix, traffic_scenario)
datasets = [(prefix, df_multiple_episodes)]
compare_datasets(datasets)

,dataset,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,mean_lane_density,mean_queue
0,dqn_cologne1,-5558.13,42.699756,19.8797,6.8324,0.925802,3.387014