In [1]:
import pandas as pd
import numpy as np

In [6]:
BASE_FOLDER = './evaluations'

In [15]:
def load_data(prefix):
    df_single_episode = pd.read_csv(f'{BASE_FOLDER}/{prefix}_1_episode.csv')
    df_single_episode = df_single_episode.set_index('step')
    df_single_episode = df_single_episode.drop(columns=['cumulative_reward'])
    
    df_multiple_episodes = pd.read_csv(f'{BASE_FOLDER}/{prefix}_100_episode.csv')
    df_multiple_episodes = df_multiple_episodes.set_index('episode')
    # df_multiple_episodes = df_multiple_episodes.drop(columns=['cumulative_reward'])
    return df_single_episode, df_multiple_episodes

def compare_datasets(datasets):
    results = []
    for name, df in datasets:
        data = {
            'model': name,
            'avg_cumulative_reward': np.mean(df.cumulative_reward.to_list()),
            # 'mean_waiting_time': np.mean(df.mean_waiting_time.to_list()),
            
            'avg_travel_time': np.mean(df.avg_travel_time.to_list()),
            'avg_time_loss': np.mean(df.avg_time_loss.to_list()),
            'avg_waiting_time': np.mean(df.avg_waiting_time.to_list()),

            'collisions': np.mean(df.collisions.to_list()),
            'emergency_braking': np.mean(df.emergency_braking.to_list()),
            'emergency_stops': np.mean(df.emergency_stops.to_list()),

#             'mean_speed': np.mean(df.mean_speed.to_list()),
            'mean_lane_density': np.mean(df.mean_lane_density.to_list()),
            'mean_queue': np.mean(df.mean_queue_length.to_list()),

        }
        results.append(data)
    return pd.DataFrame(results)

In [16]:
for traffic_scenario in ["cologne1", "cologne3", "cologne8",
                         "ingolstadt1", "ingolstadt7", # "ingolstadt21",
                         "hangzhou_1x1_bc-tyc_18041607_1h", "jinan"]:
    for model in ['cyclic_15', 'max_pressure', 'sotl']:
        prefix = f"{model}_{traffic_scenario}"
    datasets = [(model, load_data(f"{model}_{traffic_scenario}")[1]) for model in ['cyclic_15', 'max_pressure', 'sotl']]
    df_comp = compare_datasets(datasets)
    print("Traffic scenario:", traffic_scenario)
    display(df_comp)

Traffic scenario: cologne1

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-45878.46,159.180729,136.1910,118.4448,0.00,0.00,0.0,4.146779,56.978375
1,max_pressure,-8222.06,50.138978,27.3277,12.6825,0.04,0.41,0.0,1.233540,6.287736
2,sotl,-38059.53,124.885667,102.0007,76.1880,0.01,0.05,0.0,3.135584,41.366014

Traffic scenario: cologne3

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-12598.236667,182.687647,145.1949,128.0003,0.00,0.01,0.0,6.214961,53.210611
1,max_pressure,-4489.573333,70.219572,33.1275,19.4994,0.01,0.15,0.0,3.208170,22.273236
2,sotl,-9988.576667,146.436842,108.9232,89.2438,0.00,0.01,0.0,5.487933,41.177264

Traffic scenario: cologne8

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-6138.53375,237.008513,168.9497,141.5603,0.0,0.03,0.0,4.455401,75.223833
1,max_pressure,-2118.78250,129.096103,63.0392,39.9736,0.0,0.20,0.0,2.064631,24.927972
2,sotl,-3902.52750,177.424675,110.8019,83.5294,0.0,0.00,0.0,3.155144,44.813861

Traffic scenario: ingolstadt1

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-10183.46,73.189713,52.3924,39.6553,0.0,0.0,0.0,2.294018,12.257681
1,max_pressure,-2454.39,66.984977,46.7106,30.5540,0.0,0.1,0.0,1.399292,2.133972
2,sotl,-3749.14,57.622971,36.9525,22.9811,0.0,0.0,0.0,1.524219,3.468181

Traffic scenario: ingolstadt7

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-3366.934286,183.708349,140.4664,112.8594,0.01,0.30,0.0,13.273338,52.790278
1,max_pressure,-838.730000,80.180337,36.9276,18.4407,0.00,2.77,0.0,4.708982,7.347764
2,sotl,-1417.350000,91.178401,46.4031,28.6868,0.03,0.66,0.0,6.194691,14.824347

Traffic scenario: hangzhou_1x1_bc-tyc_18041607_1h

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-52630.82,222.454232,167.8173,148.0504,0.0,0.0,0.0,2.204552,66.305028
1,max_pressure,-17564.83,106.090657,51.4891,33.7681,0.0,0.0,0.0,0.995108,17.609389
2,sotl,-82961.13,239.395163,184.7888,147.6175,0.0,0.0,0.0,3.116252,106.404167

Traffic scenario: jinan

,model,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,cyclic_15,-11794.939167,563.432601,336.6838,294.7035,0.00,8.17,0.0,11.893696,515.628542
1,max_pressure,-65296.549167,750.635333,571.3320,512.3517,0.06,1.93,0.0,26.251373,1605.848972
2,sotl,-7107.089167,373.398511,140.7754,94.3170,0.00,15.55,0.0,7.826145,188.306264

In [36]:
traffic_scenario = 'cologne1'
prefix = ['fixed_period_15_steps', 'fixed_period_30_steps', 'dqn_cologne1', 'ppo_cologne1']
datasets = [(p, load_data(p, traffic_scenario)[1]) for p in prefix]
compare_datasets(datasets)

,dataset,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,collisions,emergency_braking,emergency_stops,mean_lane_density,mean_queue
0,fixed_period_15_steps,-25186.18,91.996109,69.0444,49.0154,0.0,0.01,0.0,2.287746,26.686722
1,fixed_period_30_steps,-29157.22,103.863111,80.9292,63.7006,0.0,0.00,0.0,2.815149,33.780139
2,dqn_cologne1,-5550.05,42.615365,19.8073,6.7848,0.0,0.29,0.0,0.924120,3.374903
3,ppo_cologne1,-6547.08,45.435389,22.6350,8.7755,0.0,0.42,0.0,1.000176,4.384847

In [32]:
traffic_scenario = 'cologne1'
prefix = 'dqn_cologne1'
df_single_episode, df_multiple_episodes = load_data(prefix, traffic_scenario)
datasets = [(prefix, df_multiple_episodes)]
compare_datasets(datasets)

,dataset,avg_cumulative_reward,avg_travel_time,avg_time_loss,avg_waiting_time,mean_lane_density,mean_queue
0,dqn_cologne1,-5558.13,42.699756,19.8797,6.8324,0.925802,3.387014